:root {
  --nav-bg: #181642;
  --white: #fff;
  --bg-color: #0e0d23;
  --pink: #ff2c90;
  --dark-pink: #da096a;
  --twitter-color: rgb(13, 110, 253);
  --facebook-color: rgb(13, 202, 240);
  --instagram-color: rgb(220, 53, 69);
  --linkedin-color: rgb(13, 110, 253);
  --whatsapp-color: rgb(25, 135, 84);
  --light-dark-bg: rgba(13, 110, 253, 0.3);
  --bs-box-shadow-sm: -0.313rem -0.313rem 0 rgba(255, 255, 255, 0.7);
}

/* general styles */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
}
.bg-container {
  min-height: 100vh;
  background-color: var(--bg-color);
}
.h-white {
  font-weight: 400 !important;
  --bs-text-opacity: 0.8 !important;
}
.white-shadow {
  box-shadow: var(--bs-box-shadow-sm);
}

/* home page */
.nav {
  background-color: var(--nav-bg) !important;
  box-shadow: 0px 0px 9px -3px var(--white);
}
.hero {
  height: 100%;
}
.main-h {
  font-weight: 400 !important;
  color: var(--pink);
}
.login-btn {
  color: var(--white);
  background-color: var(--pink);
  font-weight: 300;
}
.login-btn:hover {
  color: var(--white);
  background-color: var(--dark-pink);
}
.active {
  color: var(--white) !important;
}

/* modal styles */
.modal-media-right {
  font-size: 22px;
}

.tw {
  color: var(--twitter-color);
}
.in {
  color: var(--instagram-color);
}
.fb {
  color: var(--facebook-color);
}
.wa {
  color: var(--whatsapp-color);
}
.ln {
  color: var(--linkedin-color);
}

/* jobs styles */
.bg-blue {
  background-color: var(--bg-color);
}

.actively-hiring {
  background-color: var(--light-dark-bg);
}

/* job details styles */
.job-details {
  list-style-type: none;
}
.shadow-dark {
  box-shadow: -2px -3px 0px 0px var(--bg-color),
    1px 2px 8px -4px var(--bg-color);
}
.edit-icon > img {
  width: 100%;
}
