<div class="error-container">
  <div
    class="d-flex flex-column flex-md-row justify-content-center align-items-center"
  >
    <h1 class="text-white" style="font-size: 6rem; font-weight: 200">OOPs</h1>
    <img
      src="https://cdn.jsdelivr.net/gh/ahmedhosna95/upload@1731955f/sad404.svg"
      alt="404"
      style="width: 400px"
    />
  </div>
  <p
    class="text-danger text-center"
    style="font-size: 2.2rem; font-weight: 200"
  >
    <% if(errorMessage){ %> <%= errorMessage %> <%}%>
  </p>
</div>
