<div class="container d-flex hero">
  <section
    class="content-section d-flex flex-column p-3 justify-content-center"
  >
    <h1 class="ps-2">A comprehensive platform for reliable</h1>
    <h2 class="ps-2">job opportunities and internships</h2>
    <h5 class="ps-2 my-3">Get Discovered. Get Hired</h5>
    <div class="d-flex my-3">
      <button type="button" class="btn btn-lg mx-2 login-btn">
        I'm A Job Seeker
      </button>
      <button type="button" class="btn btn-lg mx-2 login-btn">
        I'm A Recruiter
      </button>
    </div>
  </section>
  <section class="image-section">
    <img src="images/banner.png" alt="banner" />
  </section>
</div>
