<div class="card w-75 mx-auto mt-4 white-shadow" style="width: 18rem">
  <div class="card-body">
    <h2 class="card-title fw-light text-center mb-3">Login</h2>
    <form>
      <!-- Email -->
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input
          type="email"
          class="form-control"
          placeholder="enter your email"
          aria-label="enter your email"
          aria-describedby="basic-addon1"
        />
      </div>
      <!-- password -->
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Password</span>
        <input
          type="password"
          class="form-control"
          placeholder="enter your password"
          aria-label="enter your password"
          aria-describedby="basic-addon1"
        />
      </div>

      <button type="submit" class="btn fw-semibold login-btn">Login</button>
    </form>
  </div>
</div>
